:root {
    --grid-bg: rgb(32, 119, 160);
    --grid-outline: rgb(34, 190, 211);
    --grid-text: rgb(98, 211, 226);
    --blue: rgb(57, 101, 133);
    --blue-border: rgba(34, 73, 104, 0.85);
    --border: 3px solid var(--blue-border);
    --font-size: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr;
}

h1,
.player-side,
.opponent-side,
.message-box {
    display: flex;
    align-items: center;
}

h1,
.player-side,
.opponent-side {
    justify-content: center;
}

h1 {
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.player-side {
    grid-column: 1;
    grid-row: 2;
}

.opponent-side {
    grid-column: 2;
    grid-row: 2;
}

.player-side,
.opponent-side {
    flex-direction: column;
    gap: 3rem;
}

.message-box {
    height: 5rem;
    width: 85%;
    border: var(--border);
}

.player-name {
    display: inline-block;
    text-indent: 4rem;
    font-size: var(--font-size);
}

/* Styles for Gameboards*/
.board,
.left-panel {
    display: flex;
    align-items: center;
}

.main-grid {
    height: 500px;
    width: 500px;
    background: var(--grid-bg);
    border: var(--border);
}

.left-panel,
.right-panel {
    height: 480px;
    width: 170px;
    justify-content: center;
    border: var(--border);
    background: var(--blue);
}

/* Styles the ships (left panel) */
.left-panel {
    border-right: none;
    border-radius: 30% 0 0 30%;
    justify-content: space-evenly;
}

.left-ships,
.right-ships {
    height: 80%;
    width: 35%;
}

.left-ships > *,
.right-ships > * {
    border: 2px solid;
    margin: 1rem 0;
    width: 100%;
}

.carrier {
    height: 60%;
}

.battleship {
    height: 40%;
}

.destroyer,
.submarine {
    height: 30%;
}

.patrol {
    height: 15%;
}

/* Styles the pegs (right panel)*/
.right-panel {
    border-left: none;
    border-radius: 0 30% 30% 0;
}

.red-pegs {
    height: 35%;
    width: 100%;
    border-bottom: var(--border);
    border-radius: 0% 30% 0% 0% / 10% 80% 0% 0%;
    background: rgb(226, 12, 12);
}

.white-pegs {
    height: 65%;
    width: 100%;
    border-radius: 0% 0% 30% 0% / 0% 30% 45% 50%;
    background: white;
}

/* Styles DOM-created grid*/
.row,
.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    height: calc(100% / 11);
    width: 100%;
}

/* Adds bottom border to all but last row (row 10)*/
.row:not(:nth-last-child(-n+1)) {
    border-bottom: 3px double var(--grid-outline);
}

.square {
    height: 100%;
    width: calc(100% / 11);
    font-weight: 600;
    font-size: var(--font-size);
    color: var(--grid-text);
}

/* Adds right border to all but last col (col "J")  */
.square:not(:nth-child(11n)) {
    border-right: 3px double var(--grid-outline);
}

.peg-hole {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    border: 5px solid var(--grid-outline);
}