:root {
    --grid-bg: rgb(32, 119, 160);
    --grid-outline: rgb(34, 190, 211);
    --grid-text: rgb(98, 211, 226);
    --blue: rgb(57, 101, 133);
    --blue-border: rgba(34, 73, 104, 0.85);
    --border: 3px solid var(--blue-border);
    --font-size: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(98, 211, 226);
}

body {
    background:rgb(5, 30, 49);
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.5fr) 5fr;
}

h1,
.info-container,
.button-container,
.player-side,
.opponent-side,
.message-box {
    display: flex;
    align-items: center;
}

h1,
.info-container,
.button-container,
.player-side,
.opponent-side {
    justify-content: center;
}

h1 {
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.info-container {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: var(--font-size);
    gap: 1rem;
    flex-direction: column;
}

.button-container {
    height: 100%;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: var(--font-size);
    gap: 1rem;
}

.start-game {
    height: 32px;
    width: 80px;
    border: none;
}

.start-game:disabled {
    background: rgb(105, 114, 119);
    color: rgb(0, 0, 0);
}

.start-game:not(:disabled),
.help {
    background: var(--blue);
}

.help {
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
    font-weight: 600;
}

.start-game:not(:disabled):hover,
.help:hover {
    background: var(--blue-border);
}

.player-side {
    grid-column: 1;
    grid-row: 4;
}

.opponent-side {
    grid-column: 2;
    grid-row: 4;
}

.player-side,
.opponent-side {
    flex-direction: column;
    gap: 3rem;
}

.message-box {
    height: 5rem;
    width: 85%;
    border: var(--border);
}

.player-name {
    display: inline-block;
    text-indent: 4rem;
    font-size: var(--font-size);
}

#player-text,
#cpu-text {
    margin-left: 1rem;
    font-size: var(--font-size);
}

/* Styles for Gameboards*/
.board,
.left-panel,
.left-ships,
.right-ships {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-grid {
    height: 500px;
    width: 500px;
    background: var(--grid-bg);
    border: var(--border);
}

.peg-hole {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid var(--grid-outline);
    position: absolute;
    z-index: 10;
}

.white-miss {
    border-color: white;
    background: white;
}

.red-hit {
    border-color: red;
    background: red;
}

/* Styles the ships (left panel) */
.left-panel {
    border-right: none;
    border-radius: 30% 0 0 30%;
    justify-content: space-evenly;
}

.left-ships,
.right-ships {
    flex-direction: column;
    height: 100%;
    width: 35%;
}

.left-ships > *,
.right-ships > * {
    border: 2px solid;
    margin: 1rem 0;
}

.ship {
    cursor: pointer;
}

/* Align ships individually based on orientation */
.horizontal {
    position: absolute;
}

.vertical {
    align-self: flex-start;
    position: absolute;
}

.ship,
.ship-preview {
    background: rgb(211, 211, 211);
}

.carrier {
    height: 223px;
    width: 45px;
    border-radius: 5px;
}

.battleship {
    height: 178px;
    width: 45px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.destroyer,
.submarine {
    height: 133px;
    width: 45px;
}

.destroyer {
    border-radius: 50% 50% 25% 25% / 65% 65% 10% 10% 
}

.submarine {
    border-radius: 50% 50% 60% 55% / 50% 50% 40% 40%;
}

.patrol {
    height: 88px;
    width: 45px;
    border-radius: 50% 50% 30% 30% / 70% 70% 20% 20% 
}

.left-panel,
.right-panel {
    height: 480px;
    width: 170px;
    border: var(--border);
    background: var(--blue);
}

/* Highlight CPU ships */
.highlight {
    background: greenyellow;
}

.hover {
    background: gray;
}

/* Styles the pegs (right panel)*/
.right-panel {
    border-left: none;
    border-radius: 0 30% 30% 0;
}

.red-pegs {
    height: 35%;
    width: 100%;
    border-bottom: var(--border);
    border-radius: 0% 30% 0% 0% / 10% 80% 0% 0%;
    background: rgb(185, 16, 16);
}

.white-pegs {
    height: 65%;
    width: 100%;
    border-radius: 0% 0% 30% 0% / 0% 30% 45% 50%;
    background: rgb(243, 244, 245);
}

/* Styles DOM-created grid*/
.row,
.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    height: calc(100% / 11);
    width: 100%;
}

/* Adds bottom border to all but last row (row 10)*/
.row:not(:nth-last-child(-n+1)) {
    border-bottom: 3px double var(--grid-outline);
}

.square {
    height: 100%;
    width: calc(100% / 11);
    font-weight: 600;
    font-size: var(--font-size);
    color: var(--grid-text);
    position: relative;
}

/* Adds right border to all but last col (col "J")  */
.square:not(:nth-child(11n)) {
    border-right: 3px double var(--grid-outline);
}