:root {
  --grid-bg: rgb(32, 119, 160);
  --grid-outline: rgb(34, 190, 211);
  --grid-text: rgb(98, 211, 226);
  --chat-bubble-text: rgb(176, 246, 255);
  --blue: rgb(57, 101, 133);
  --blue-border: rgba(34, 73, 104, 0.85);
  --dark-blue: rgb(15, 49, 80);
  --light-gray: rgb(211, 211, 211);
  --dark-gray: rgb(90, 109, 119);
  --off-white: rgb(243, 244, 245);
  --btn-hover: rgb(231, 171, 153);
  --bright-red: rgb(255, 86, 74); 
  --red: rgb(185, 16, 16);
  --filter-blue: invert(77%) sepia(42%) saturate(538%) hue-rotate(141deg)
  brightness(93%) contrast(89%);
  --border: 3px solid var(--blue-border);
  --small-pad: 1rem;
  --medium-pad: 2rem;
  --large-pad: 3rem;
  --normal-font: 1rem;
  --medium-font: 1.2rem;
  --large-font: 1.5rem;
  --icon-size: 35px;
  --ship-width: 23px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--grid-text);
  font-family: "Roboto Mono", monospace;
}

/* Styles for overall content/layout */
body {
  background: var(--dark-blue);
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  background: var(--dark-blue);
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
}

.content > * {
  padding: var(--small-pad);
}

h1 {
  grid-row: 1;
  text-align: center;
}

.info-container {
  grid-row: 2;
  width: 100vw;
}

.button-container {
  grid-row: 3;
}

.player-message-container {
  grid-row: 4;
}

.player-side {
  grid-row: 5;
}

.opponent-message-container {
  grid-row: 6;
}

.opponent-side {
  grid-row: 7;
}

footer {
  grid-row: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles info text */
#info-text {
  width: 100%;
}

/* Styles for message containers */
.player-message-container,
.opponent-message-container,
.icon-container {
  display: flex;
  align-items: center;
}

.player-message-container,
.opponent-message-container {
  width: 100%;
  justify-content: flex-start;
}

.opponent-message-container {
  flex-direction: row-reverse;
}

.icon-container {
  flex-direction: column;
}

.user-icon {
  height: var(--icon-size);
  width: var(--icon-size);
  filter: var(--filter-blue);
}

.chat-bubble {
  height: 4rem;
  width: 60%;
  border-radius: 10px;
  background: var(--blue);
}

/* Styles for chat bubble and triangle piece */
.player-message-container .chat-bubble,
.opponent-message-container .chat-bubble {
  position: relative;
}

.player-message-container .chat-bubble {
  margin-left: 3rem;
}

.opponent-message-container .chat-bubble {
  margin-right: 3rem;
}

.player-message-container .chat-bubble::before,
.opponent-message-container .chat-bubble::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  top: 20px;
}

.player-message-container .chat-bubble::before {
  border-right: 30px solid var(--blue);
  left: -30px;
}

.opponent-message-container .chat-bubble::after {
  border-left: 30px solid var(--blue);
  right: -30px;
}

#player-text,
#cpu-text {
  color: var(--chat-bubble-text);
  margin-top: var(--small-pad);
  margin-left: var(--medium-pad);
  font-size: var(--medium-font);
  word-wrap: break-word;
}

/* Styles buttons */
.button-container,
.reset-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  gap: var(--small-pad);
  font-size: var(--large-size);
  padding: calc(var(--small-pad) / 2);
  position: relative;
}

.start-game,
.reset-game {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 3px;
  font-size: var(--normal-font);
  position: relative;
}

.start-game:disabled {
  background: var(--dark-gray);
  color: rgb(0, 0, 0);
  font-style: italic;
  text-transform: lowercase;
}

.start-game:not(:disabled),
.help,
.reset-game {
  background: var(--blue);
  color: var(--off-white);
  font-weight: 600;
}

.help,
.reset-game {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  font-size: var(--medium-font);
}

.start-game:not(:disabled):hover,
.help:hover,
.reset-game:hover {
  background: var(--blue-border);
}

.help:hover {
  color: var(--btn-hover);
}

#reset-icon {
  height: 75%;
  filter: invert(99%) sepia(1%) saturate(168%) hue-rotate(169deg)
      brightness(97%) contrast(99%);
}

#reset-icon:hover {
  filter: invert(89%) sepia(5%) saturate(4420%) hue-rotate(308deg)
      brightness(87%) contrast(110%);
}

/* Styles tooltip for start button */
.start-game .tooltip-text {
  visibility: hidden;
  width: 165px;
  
  position: absolute;
  top: -15px;
  left: 105px;

  color: var(--bright-red);
  font-style: normal;
  text-transform: none;
  font-size: 0.87rem;
}

.start-game:disabled:hover .tooltip-text {
  visibility: visible;
}

/* Styles for popup help box */
.backdrop {
  height: 100vh;
  width: 100vw;
  background: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.help-box {
  width: 90vw;
  background: var(--dark-blue);
  border: 1px solid var(--grid-outline);
  border-radius: 3px;
  padding: var(--medium-pad);
  font-size: var(--normal-font);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-rows: 0.5fr 5fr;
  z-index: 20;
}

.help-bar {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}

#how-to,
#close-help {
  font-size: var(--medium-font);
  font-weight: 600;
}

#close-help {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

#close-help:hover {
  color: var(--red);
}

.help-info {
  grid-row: 2;
}

.help-info > ul {
  padding-left: 25px;
}

.help-info:not(b),
.help-info > ul li {
  color: var(--off-white);
}

.hidden {
  display: none;
}

/* Styles cursor for disabled divs */
.disabled {
  pointer-events: none;
}

/* Styles for game boards */
.board,
.left-panel,
.left-ships,
.right-ships {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-grid {
  height: 300px;
  width: 300px;
  background: var(--grid-bg);
  border: var(--border);
}

/* Styles DOM-created grid*/
.row,
.square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: calc(100% / 11);
  width: 100%;
}

/* Adds bottom border to all but last row (row 10)*/
.row:not(:nth-last-child(-n + 1)) {
  border-bottom: 3px double var(--grid-outline);
}

.square {
  height: 100%;
  width: calc(100% / 11);

  color: var(--grid-text);
  font-weight: 600;
  font-size: var(--medium-font);

  position: relative;
}

/* Adds right border to all but last col (col "J")  */
.square:not(:nth-child(11n)) {
  border-right: 3px double var(--grid-outline);
}

.square:not(.legend):hover {
  background: var(--btn-hover);
}

/* Styles for game board peg holes (filled and unfilled) */
.peg-hole {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid var(--grid-outline);

  position: absolute;
  z-index: 10;
}

.white-miss {
  border-color: var(--off-white);
  background: var(--off-white);
}

.red-hit {
  border-color: var(--red);
  background: var(--red);
}

/* Styles for ships and ship dock (left panel) */
.left-panel {
  border-right: none;
  border-radius: 30% 0 0 30%;
  justify-content: space-evenly;
}

.left-panel,
.right-panel {
  height: 300px;
  width: 100px;
  border: var(--border);
  background: var(--blue);
}

.left-ships,
.right-ships {
  flex-direction: column;
  height: 100%;
  width: 35%;
}

.left-ships > *,
.right-ships > * {
  border: 2px solid;
  margin: var(--small-pad) 0;
}

.ship {
  cursor: pointer;
  z-index: 1;
}

.ship,
.ship-preview {
  background: var(--light-gray);
}

/* Ship heights and widths based on each square cell's dimensions */
.carrier,
.battleship,
.destroyer,
.submarine,
.patrol {
  width: var(--ship-width);
}

.carrier {
  height: 132px;
  border-radius: 5px;
}

.battleship {
  height: 104px;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.destroyer,
.submarine {
  height: 78px;
}

.destroyer {
  border-radius: 50% 50% 25% 25% / 65% 65% 10% 10%;
}

.submarine {
  border-radius: 50% 50% 60% 55% / 50% 50% 40% 40%;
}

.patrol {
  height: 50px;
  border-radius: 50% 50% 30% 30% / 70% 70% 20% 20%;
}

/* Align ships individually based on orientation */
.horizontal {
  position: absolute;
}

.vertical {
  align-self: flex-start;
  position: absolute;
}

/* Styles for peg pieces (right panel) */
.right-panel {
  border-left: none;
  border-radius: 0 30% 30% 0;
}

.red-peg-holder,
.white-peg-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-peg-holder {
  height: 35%;
  width: 100%;
  border-bottom: var(--border);
  border-radius: 0% 30% 0% 0% / 10% 80% 0% 0%;
}

.white-peg-holder {
  height: 65%;
  width: 100%;
  border-radius: 0% 0% 30% 0% / 0% 30% 45% 50%;
}

.red-pegs {
  height: 100%;
  width: auto;
}

.white-pegs {
  height: 90%;
  width: auto;
}

/* Styles for footer */
footer {
  font-size: var(--normal-font);
  gap: 10px;
}

#github-icon {
  height: var(--icon-size);
  width: var(--icon-size);
  filter: invert(77%) sepia(42%) saturate(538%) hue-rotate(141deg)
    brightness(93%) contrast(89%);
}

/* Styles to highlight CPU ships on gameover */
.highlight {
  background: greenyellow;
}

.hover {
  background: var(--dark-gray);
}
